<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BidMapper">

	<resultMap type="com.project.model.dto.MemberDTO" id="loginResultMap">
	
		<id property = "userID" column = "USER_ID"/>
		<id property = "userPWD" column = "USER_PWD"/>
		
		<result property = "userName" column = "USER_NAME"/>
		<result property = "userEmail" column = "USER_EMAIL"/>
		<result property = "userAge" column = "USER_AGE"/>
		<result property = "userGender" column = "USER_GENDER"/>
		<result property = "userEmail" column = "USER_EMAIL"/>
		<result property = "userAddress" column = "USER_ADDRESS"/>
		<result property = "userPhone" column = "USER_PHONE"/>
		<result property = "memberStatus" column = "MEMBER_STATUS"/>
		<result property = "mcStatus" column = "MC_STATUS"/>
		<result property = "enrollDate" column = "ENROLL_DATE"/>
		<result property = "adminStatus" column = "ADMIN_STATUS"/>
	
	</resultMap>
	
	<select id= "login" parameterType="com.project.model.dto.MemberDTO" resultMap = "loginResultMap">

		SELECT DISTINCT
		*
		FROM BID_USER
		WHERE USER_ID = #{userID}
	</select>
	
	<select id= "findMemberID" parameterType="com.project.model.dto.MemberDTO" resultMap = "loginResultMap">

			SELECT DISTINCT
			*
			FROM BID_USER
			WHERE USER_ID = #{userID}
	</select>
	
	<select id= "findMembreName" parameterType="com.project.model.dto.MemberDTO" resultMap = "loginResultMap">

			SELECT DISTINCT
			*
			FROM BID_USER
			WHERE USER_NAME LIKE #{userName}
	</select>
	
	<select id= "findMemberEmail" parameterType="com.project.model.dto.MemberDTO" resultMap = "loginResultMap">

			SELECT DISTINCT
			*
			FROM BID_USER
			WHERE USER_EMAIL = #{userEmail}
	</select>


	<delete id= "deleteMember" parameterType="com.project.model.dto.MemberDTO">

			DELETE
			FROM BID_USER
			WHERE USER_ID = #{userID}
	</delete>

	<select id= "selectAllMember" parameterType="com.project.model.dto.MemberDTO" resultMap = "loginResultMap">

		SELECT DISTINCT
		*
		FROM BID_USER
		WHERE USER_ID NOT IN ('admin')

	</select>

	<update id="updateMember" parameterType="com.project.model.dto.MemberDTO">
		
		UPDATE BID_USER
		SET 
		USER_NAME = #{userName},
		USER_PWD = #{userPWD},
		USER_EMAIL = #{userEmail},
		USER_PHONE = #{userPhone},
		USER_ADDRESS = #{userAddress}
		WHERE USER_ID = #{userID}
	</update>

	<resultMap type="com.project.model.dto.BidProduct"
		id="productResultMap">

		<id property="pId" column="P_ID" />

		<result property="pName" column="P_NAME" />
		<result property="pSize" column="P_SIZE" />
		<result property="pGender" column="P_GENDER" />
		<result property="pPrice" column="P_PRICE" />
		<result property="productTableStatus" column="PRODUCTABLE_STATUS" />

	</resultMap>

	<select id="searchAll" resultMap="productResultMap">

		SELECT
		A.P_ID,
		A.P_NAME,
		A.P_SIZE,
		A.P_GENDER,
		A.P_PRICE
		FROM BID_PRODUCT A
		ORDER BY A.P_ID


	</select>
	<select id="searchByNameOrSize" parameterType="hashmap"
		resultMap="productResultMap">

		SELECT
		A.P_ID,
		A.P_NAME,
		A.P_SIZE,
		A.P_GENDER,
		A.P_PRICE
		FROM BID_PRODUCT A
		<where>
			<if test="nameValue != null">
				A.P_NAME LIKE '%' || #{ nameValue } || '%'
			</if>
			<if test="sizeValue != null">
				AND A.P_SIZE = #{ sizeValue }
			</if>
		</where>

	</select>
	
	<!-- <delete id= "productPurchase" parameterType= "hashmap"> DELETE FROM 
		BID_PRODUCT WHERE P_NAME LIKE '%' || #{ name } || '%' </delete> -->
	<update id="productPurchase" parameterType="hashmap">
		UPDATE
		BID_PRODUCT A
		<set>

			A.PRODUCTABLE_STATUS = #{ productableStatus },

		</set>
		WHERE A.P_NAME LIKE '%' || #{ name } || '%'

	</update>
	
	<select id="confirm" resultMap="productResultMap">
		SELECT
		A.P_ID,
		A.P_NAME,
		A.P_SIZE,
		A.P_GENDER,
		A.P_PRICE
		FROM BID_PRODUCT A
		WHERE A.PRODUCTABLE_STATUS = 'Y'

	</select>
	<update id="cancel" parameterType="hashmap">
		UPDATE
		BID_PRODUCT A
		<set>

			A.PRODUCTABLE_STATUS = #{ productableStatus },
		</set>
		WHERE A.P_NAME LIKE '%' || #{ name } || '%'
	</update>

</mapper>